/*
Author: Christian Morgan
Date: 11/1/22
File Name:
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #ffe5dc;
}

/* Adds a table around the table*/
table{
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #fd4d0c;
}
/* Create space on the table*/
table, tr, th, td{
  border-collapse: collapse;
  padding: 2%;
}
/* Increase the font of the caption and increases space from table*/
caption{
  font-size: 2em;
  padding: 2%;
  margin-top: 2%;
}

/*Adds border around the table headers and table data*/
th, td {
  border: 1px solid #a22c02;
}


/*Center aligns table data */
td{
  text-align: center
}

/*Adds color to the odd rows in the table*/
tr:nth-child(odd) {background-color: #fe9772;}
/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}
